* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    background: linear-gradient(to right, #3b83f6eb, #8a5cf6f1, #ec489af5);

}

.calc {
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: slategray;
    font-weight: 900;
    font-size: 100px;

}

.button {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;

}

.btn {
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: bisque;
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
}

.bun {
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: khaki;
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
}

.tun {
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: darkslategrey;
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
}

.div {
    background-color: rgba(0, 0, 255, 0.961);
    border-radius: 50px;
}